$background-color:  #26b2f8;

.twitter-header {
  background-color: $background-color
}

.twitter-search-button {
  border: none;
  color: white;
}

.navbar-brand {
  font-size: 30px;
}

.tweet {
  margin: 20px;
  background-color: $background-color;

}